@import "tailwindcss";

@theme {
  --color-prime: #6a95ae;
  --color-secon: #123250;
  --color-bgCard: #f6ece1;
  --color-btn: #c76d5b;
  --color-icon: #ecbc53;
  --color-link: #53a3be;
  --color-hover: #cee6e4;
}

:root {
  --font-heading: var(--font-fraunces);
  --font-body: var(--font-inter);
}

body {
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-heading), serif;
}
